.master__anyone{
    padding: 20px 10px;
    background-color: #fff;
    -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
    -moz-box-shadow: 3px 3px 10px 3px #dddddd;
    box-shadow: 3px 3px 10px 3px #dddddd;
    border-radius: 10px;
    width: 100%;
    font-size: 1.125em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.master__anyone:focus{
    border: 1px solid #dadada;
    background: #ffffff;
    box-shadow: inset 9px 9px 18px #ebebeb,
    inset -9px -9px 18px #ffffff;
}

.master__list{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}